#!/bin/bash

PROJECT=`php -r "echo dirname(dirname(dirname(realpath('$0'))));"`
STAGED_FILES_CMD=`git diff --cached --name-only --diff-filter=ACMR HEAD | grep \\\\.php`

# Determine if a file list is passed
if [ "$#" -eq 1 ]
then
	oIFS=$IFS
	IFS='
	'
	SFILES="$1"
	IFS=$oIFS
fi
SFILES=${SFILES:-$STAGED_FILES_CMD}

echo -e "\033[0;32m"Checking PHP Lint..."\033[0m"
for FILE in $SFILES
do
	php -l -d display_errors=0 $PROJECT/$FILE
	if [ $? != 0 ]
	then
		echo -e "\033[41m"Fix the error before commit."\033[0m"
		exit 1
	fi
	FILES="$FILES $PROJECT/$FILE"
done

if [ "$FILES" != "" ]
then

    echo -e "\033[0;32m"Stash your not staged code..."\033[0m"
    git stash -u --keep-index

    echo -e "\033[0;32m"Running Code Sniffer..."\033[0m"
	./vendor/bin/phpcs --standard=PSR2 --encoding=utf-8 -n -p $FILES

	if [ $? != 0 ]
	then
		echo -e "\033[41m"Fix the error before commit."\033[0m"
		exit 1
	fi

    echo -e "\033[0;32m"Recovering your stashed code..."\033[0m"
    git stash pop --quiet --index

fi

exit $?
