<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".cache/pest"
         recordTestRunHistory="true"
         failOnEmptyTestSuite="false"
         failOnPhpunitWarning="false"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
            <directory>app-modules/*/tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
            <directory>app-modules/*/tests/Feature</directory>
        </testsuite>
        <testsuite name="Arch">
            <directory>tests/Arch</directory>
            <directory>app-modules/*/tests/Arch</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
            <directory>app-modules/*/src</directory>
        </include>
    </source>
    <php>
        <ini name="memory_limit" value="-1"/>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
